.main-container-div {
  border: 1px solid black;
  width: 350px;
  height: 500px;
}
.root-container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 40px; /* Adjust the value to control the roundness */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.rounded-button:hover {
  background-color: #0056b3; /* Change color on hover */
}

#root {
  width: 75px;
  height: 40px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
